<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ForsankersPortfolio</title>

  <link rel="stylesheet" href="/spectre-exp.css">
  <link rel="stylesheet" href="/spectre-exp.min.css">
  <link rel="stylesheet" href="/spectre-icons.css">
  <link rel="stylesheet" href="/spectre-icons.min.css">
  <link rel="stylesheet" href="/spectre.min.css">
  <link rel="stylesheet" href="/spectre.css">
  <link rel="stylesheet" href="/layout.css">
</head>

<body>

  <header class="navbar">
    <section class="navbar-section">
      <a href="/" class="btn btn-link">Home</a>

    </section>
    <section class="navbar-center">
      <!-- centered logo or brand -->
    </section>
    <section class="navbar-section">
      <a href="/addProject" class="btn btn-link">Add Project</a>
      <a href="/projects" class="btn btn-link">Projects</a>
      <a href="/contact" class="btn btn-link">Contact</a>
      <a href="/about" class="btn btn-link">About</a>
    </section>
  </header>

  <main>
    <div class="animated-background w-embed">
      <div class="animatedwrapper">
        <div class="dot dot--one"></div>
        <div class="dot dot--two"></div>
        <div class="dot dot--three"></div>
      </div>
    </div>
    {{{body}}}
  </main>

  <!--
    <footer>
        Copyright Alex 2022
    </footer>
    -->
</body>

</html>