<section class="aboutPageSection">
	<h1 class="aboutPageHeadOne">
		Who am i?
	</h1>
	<div class="aboutPageDivOne">
		I enjoy problem solving, mathematics, and learning new technologies and
		skills. I always strive for greatness.
	</div>
	<div class="aboutPageDivTwo">
		I'm fascinated by old architecture and design, like the cities of Paris,
		Annecy and Vienna.
	</div>
	<div class="aboutPageDivThree">
		In my sparetime outside of school i like to work out at the gym, be with my
		mother, learn new skills and play videogames.
	</div>
</section>