<section class="add-question-section">
<h1>Add message</h1>
    <form method="POST" action="/add-message">
        <div>
            Name: <input type="text" name="name" placeholder="Name">
        </div>
        <div>
            Email: <input type="Email" name="email" placeholder="Email">
        </div>
        <div>
            Message: <input type="text" name="message" placeholder="Message">
        </div>
        <input type="submit">
    </form>

</section>