{{#if errorMessages.length}}
<p>Couldn't create the projects for unknown reasons</p>
<ul>
    {{#each errorMessages}}
    <li> {{this}} </li>
    {{/each}}
</ul>
{{/if}}
<section class="add-project-section">
    <h1 class="add-project-head-one">Add Project</h1>
    <form method="POST" action="/add-project" enctype="multipart/form-data">
        <div>
            <input type="file" name="image">
        </div>
        <div>
            Title: <input type="text" name="title">
        </div>
        <div>
            Description: <input type="text" name="description">
        </div>
        <input type="submit">
    </form>
</section>