{{> errors }}
<section class="standardCenteredSection">
<h1 class="standardRubric">Add question</h1>
    <form method="POST" action="/add-question">
        <div>
            Name: <input type="text" name="name" placeholder="Name">
        </div>
        <div>
            Email: <input type="Email" name="email" placeholder="Email">
        </div>
        <div>
            Question: <input type="text" name="question" placeholder="Question">
        </div>
        <input type="submit">
    </form>

</section>