{{#if errorMessages.length}}
<p>Couldn't add comment bacause: </p>
<ul>
    {{#each errorMessages}}
    <li> {{this}} </li>
    {{/each}}
</ul>
{{/if}}
<section class="add-comment-section">
<form action="/add-comment/{{project.projectID}}" method="POST">
    <div class="form-group">
        <label class="form-label">Add a comment or feedback</label>
        <textarea type="text" name="comment" placeholder="Textarea" rows="3"></textarea>
    </div>
    <input type="submit">
</form>
</section>