{{> errors }}
<section class="standardCenteredSection">
	<h1 class="standardRubric">Answer question</h1>
	<form method="POST">
		<div>
			{{question.question}}
		</div>
		<div>
			<input type="text" name="answer" placeholder="Answer">
		</div>
		<input type="submit" value="Answer Question">
	</form>
</section>