<h1>Answer question</h1>
{{#if errorMessages.length}}
<p>Couldn't answer the question because:</p>
<ul>
    {{#each errorMessages}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}
<section class="center-form">
    <form method="POST">
        <div>
            {{question.question}}
        </div>
        <div>
            <input type="text" name="answer" placeholder="Answer">
        </div>
        <input type="submit" value="Answer Question">
    </form>
</section>