<section class="contact-class">
    <div>
    Phone: 070 123 45 67
    </div>
    <div>
    Email: alibabaExpress@gmail.com
    </div>
    <div>
    Address: skolgatan 39B, 555 43, Jönköping
    </div>
</section>
