<section class="homePageSection">
	<div class="homePageStandardContainer">
		<div class="homePageIntroWrap">
			<h1 class="homePageRubricRowOne"> Hello, I'm Alexander. </h1>
			<h2 class="homePageRubricRowTwo">
				I'm a Software Engineering student.
			</h2>
			<div class="homePageParagraphOne">
				I'm an ambitious student who has two years left on my education.
			</div>
			<div class="homePageParagraphTwo">
				My greatest strentghs are resilience, patience and good dicipline. My
				goal is to learn something everyday, as well as trying to be a better
				version of myself every day.
			</div>
		</div>
	</div>
</section>