<section class="section-style section-home">
    <div class="standard-container">
        <div class="intro-wrap">
            <h1 class="home-1">
                Hello, I'm Alexander.
            </h1>
            <h2 class="home-2">
                I'm a Software Engineering student.
            </h2>
            <div class="paragraph-1">
                I'm an ambitious student who has two years left on my education.
            </div>
            <div class="paragraph-2">
                My greatest strentghs are resilience, patience and i have very dicipline. My goal is to be a better
                version of myself every day.
            </div>
        </div>
    </div>
</section>