<section class="homePageSection">
	<div class="homePageStandardContainer">
		<div class="homePageIntroWrap">
			<h1 class="homePageRubricRowOne"> Hello, I'm Alexander. </h1>
			<h2 class="homePageRubricRowTwo">
				I'm a Software Engineering student.
			</h2>
			<div class="homePageParagraphOne">
				I'm an ambitious student who has two years left on my education.
			</div>
			<div class="homePageParagraphTwo">
				My greatest strentghs are resilience, patience and i have very
				dicipline. My goal is to be a better version of myself every day.
			</div>
		</div>
	</div>
</section>
{{#if session.isLoggedIn}}
<p class="loggedInStatus">You are logged in</p>
{{else}}
<p class="loggedInStatus">You are not logged in</p>
{{/if}}