<div class="section-style section-home">
    <div class="standard-container">
        <div class="intro-wrap">
            <h1 class="home-h1">
                Hello, I’m Alexander.
                <br>
                I’m a Software Engineering student.
                <br>
            </h1>
            <div class="paragraph-xl">I'm an ambitious student who has two years left on my education.
                <br>
                ‍<br>
                My greatest strentghs are resilience, patience and i have very dicipline. My goal is to be a better version of myself every day.
            </div>
        </div>
    </div>
</div>