<button> <a class="project-page-update-link" href="/update-comment/{{comment.cID}}">Update Comment</a> </button>

<form action="/delete-comment/{{comment.cID}}" method="POST">
    <input type="submit" value="Delete comment">
</form>
