{{#if isLoggedIn}}
    <button> <a class="project_page_update_link" href="/update-message/{{message.id}}">Update message</a> </button>

    <form action="/delete-message/{{message.id}}" method="POST">
        <input type="submit" value="Delete Message">
    </form>
{{/if}}