<h1>Update Project</h1>
<form method="POST">
    <div>
        <input type="text" name="title" value="{{project.title}}">
    </div>
    <div>
        <input type="text" name="description" value="{{project.description}}">
    </div>
<!--    <div>
        <input type="file" name="image" value="{{project.image}}">
    </div> -->
    <input type="submit" value="Update Project">
</form>