{{#if errorMessages.length}}
<p>Couldn't update the question because:</p>
<ul class="errormessage-list">
    {{#each errorMessages}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}
<section class="center-form">
    <h1>Update Question</h1>
    <form method="POST">
        <div>
            <input type="text" name="name" value="{{question.name}}">
        </div>
        <div>
            <input type="text" name="email" value="{{question.email}}">
        </div>
        <div>
            <input type="text" name="question" value="{{question.question}}">
        </div>
        <input type="submit" value="Update Question">
    </form>
</section>