<h1>Update Message</h1>
{{#if errorMessages.length}}
<p>Couldn't update the message because:</p>
<ul>
    {{#each errorMessages}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}
<form method="POST">
    <div>
        <input type="text" name="name" value="{{message.name}}">
    </div>
    <div>
        <input type="text" name="email" value="{{message.email}}">
    </div>
    <div>
        <input type="text" name="message" value="{{message.message}}">
    </div>
    <input type="submit" value="Update Message">
</form>