{{> errors}}
<section class="standardCenteredSection">
	<h1>Update Question</h1>
	<form method="POST">
		<div>
			<input type="text" name="name" value="{{question.name}}">
		</div>
		<div>
			<input type="text" name="email" value="{{question.email}}">
		</div>
		<div>
			<input type="text" name="question" value="{{question.question}}">
		</div>
		<input type="submit" value="Update Question">
	</form>
</section>