{{> errors }}
<section class="standardCenteredSection">
	<h1>Update Comment</h1>
	<form method="POST">
		<div>
			<input type="text" name="comment" value="{{comment.comment}}">
		</div>
		<input type="submit" value="Update Comment">
	</form>
</section>