{{> errors }}
<section class="standardCenteredSection">
	<h1>Update Answer</h1>
	<form method="POST">
		<div>
			<input type="text" name="answer" value="{{question.answer}}">
		</div>
		<input type="submit" value="Update Answer">
	</form>
</section>