/* NAVIGATION BAR | NAVIGATION BAR | NAVIGATION BAR */
.btn.btn-link {
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 140%;
    color: black;
}

.btn.btn-link:hover {
    text-decoration: underline;
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.logout-button {
    background-color: transparent;
    padding: 0;
    border: none;
    background: none;
}

.logout-button:hover {
    text-decoration: underline;
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

/* HOME PAGE MAIN CONTENT | HOME PAGE MAIN CONTENT | HOME PAGE MAIN CONTENT */
.home-page-section {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    height: 345px;
    letter-spacing: normal;
    line-height: 24px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 0px;
    width: 394px;
}

.home-page-standard-container {
    -webkit-font-smoothing: antialiased;
    align-self: flex-start;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    height: 345px;
    letter-spacing: normal;
    line-height: 24px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 960px;
    object-fit: fill;
    opacity: 1;
    position: relative;
    text-align: left;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-style: preserve-3d;
    width: 394px;
}

.home-page-intro-wrap {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    height: 280px;
    letter-spacing: normal;
    line-height: 24px;
    margin-bottom: 64px;
    margin-top: 48px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    width: 394px;
}

.home-page-rubric-row-one {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: "Superior title", "Times New Roman", sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 15px;
    margin-block-end: 16px;
    margin-block-start: 0px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 100px;
    text-align: left;
    width: 700px;
}

.home-page-rubric-row-two {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: "Superior title", "Times New Roman", sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: normal;
    margin-block-end: 16px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 50px;
    margin-right: 0px;
    text-align: left;
    width: 700px;
}

.home-page-paragraph-one {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    height: 70px;
    letter-spacing: -0.23999999463558197px;
    line-height: 24px;
    margin-top: 16px;
    max-width: 740px;
    margin-left: 50px;
    opacity: 1;
    text-align: left;
    width: 394px;
}

.home-page-paragraph-two {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.23999999463558197px;
    max-width: 740px;
    margin-left: 50px;
    opacity: 1;
    text-align: left;
    width: 394px;
}

/* CONTACT PAGE CONTENT CONTACT PAGE CONTENT CONTACT PAGE CONTENT*/
.contact-page-section {
    text-align: center;
    margin-top: -5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
}

.contact-page-form-title {
    margin-top: 2%;
    font-size: 140%;
    font-family: "Superior title", "Times New Roman", sans-serif;
}

.contact-page-question {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-page-questions-title {
    font-family: "Superior title", "Times New Roman", sans-serif;
    text-decoration: underline;
    color: black;
    font-size: 170%;
}

.contact-page-questions-ul {
    list-style: none;
}

.contact-page-questions-li {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.contact-page-answer {
    margin-top: -2%;
}

.contactpage-question-paragraph {
    margin-top: -1%;
    margin-bottom: -1%;
}

summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fff;
    color: #333;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.faq-content {
    text-align: center;
}

details>summary::after {
    position: absolute;
    content: "+";
    right: 20px;
    top: 30px;
}

details[open]>summary::after {
    position: absolute;
    content: "-";
    right: 20px;
}

details>summary::-webkit-details-marker {
    display: none;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px
    }

    100% {
        opacity: 1;
        margin-top: 0px
    }
}

/* ABOUT PAGE CONTENT ABOUT PAGE CONTENT ABOUT PAGE CONTENT*/
.about-page-section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
}

.about-page-head-one {
    font-family: "Superior title", "Times New Roman", sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.about-page-div-one {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.about-page-div-two {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

.about-page-div-three {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

/*PROJECTS LIST PROJECTS LIST PROJECTS LIST PROJECTS LIST*/
.projects-page-section {
    background-color: transparent;
}

.projects-page-row {
    height: 20%;
}

.projects-page-title {
    text-align: center;
    color: black;
    font-family: monospace;
    text-decoration: overline;
    margin-top: 8%;
}

.projects-page-list {
    list-style: none;
    align-items: center;
    text-align: center;
    margin-top: 7%;
}

.projects-page-project {
    height: 400px;
}

.projects-page-project-image {
    width: 300px;
    height: auto;
}

.projects-page-project-title {
    font-family: "Superior title", "Times New Roman", sans-serif;
    color: black;
    font-size: 170%;
}

.projects-page-project-description {
    font-size: 110%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}


/* PROJECT PAGE PROJECT PAGE PROJECT PAGE PROJECT PAGE*/
.project-page-section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.project-page-description {
    font-size: 110%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.project-page-title {
    font-family: "Superior title", "Times New Roman", sans-serif;
    color: black;
    font-size: 170%;
}

.project-page-image {
    width: 300px;
    height: auto;
}

.project-page-comments {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-page-comments-ul {
    list-style: none;
}

.project-page-comments-title {
    font-family: "Superior title", "Times New Roman", sans-serif;
    text-decoration: overline;
    color: black;
    font-size: 170%;
}

.project-page-update-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ADD COMMENT*/
.add-comment-section {
    text-align: center;
    margin-top: 2%;
}

/* ADD QUESTION */
.add-question-section {
    text-align: center;
}

/* LOGIN PAGE */
.login-page-section {
    text-align: center;
    margin-top: 20%;
}

.login-page-head-one {
    text-align: center;
}

/* ADD PROJECT*/
.add-project-section {
    text-align: center;
}

.standard-rubric {
    font-family: "Superior title", "Times New Roman", sans-serif;
    text-align: center;
}

.answer-question-section {
    text-align: center;
}

.update-answer-section {
    text-align: center;
}

/* MANAGE COMMENTS */
.manage-comments-section {
    text-align: center;
    margin-top: 20%;
}

/* MANAGE MESSAGES */
.manage-question-section {
    text-align: center;
    margin-top: 20%;
}

/*UPDATE PROJECT*/
.update-project-section {
    text-align: center;
}

/*UPDATE COMMENT*/
.update-comment-section {
    text-align: center;
}

.update-question-section {
    text-align: center;
}

.error-messages-section {
    text-align: center;
    margin-top: 16%;
}

.error-message-title {
    font-family: "Superior title", "Times New Roman", sans-serif;
    font-size: 150%;
    text-decoration: underline;
}

/* LAYOUT BACKGROUND 'ANIMATED'*/
.animatedwrapper {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: -100px;
    z-index: -1;
    width: 100%;
    height: 2000px;
    isolation: isolate;
    /* 
    Add fallback background here
    background: url();
    */
}

@media only screen and (max-width: 600px) {
    .animatedwrapper {
        top: -500px;
    }

    .dot {
        --size: 100px;
    }
}


.dot {
    --size: 700px;
    /* Only show the animated dots for browsers that support the required features */
    display: none;
    position: absolute;
    left: calc(var(--size) / 3 * -1);
    top: calc(var(--size) / 3 * -1);
    width: var(--size);
    height: var(--size);
    mix-blend-mode: soft-light;
    border-radius: var(--size);
    filter: blur(calc(var(--size) / 6));
    animation: dot-animation ease-in-out 20s infinite;
    will-change: transform;
}

@supports (mix-blend-mode: soft-light) and (filter: blur(1px)) {
    .animatedwrapper {
        /* Remove the fallback background image when the features are supported */
        background: none;
    }

    .dot {
        /* Only show the animated dots for browsers that support the required features */
        display: block;
    }
}

.dot--one {
    background: #ed2a24;
}

.dot--two {
    background: #f48937;
    animation-delay: -7s;
}

.dot--three {
    background: #bd3690;
    animation-delay: -14s;
}


@keyframes dot-animation {
    0% {
        transform: translate(0, 0);
    }

    33% {
        transform: translate(calc(var(--size) / 1.5), 0);
    }

    66% {
        transform: translate(0, calc(var(--size) / 1.5));
    }

    100% {
        transform: translate(0, 0);
    }
}