/* NAVIGATION BAR | NAVIGATION BAR | NAVIGATION BAR */
.btn.btn-link {
	padding: 2%;
	font-family: "Courier New", Courier, monospace;
	font-size: 140%;
	color: black;
	padding: 5px;
}

.btn.btn-link:hover {
	text-decoration: underline;
	color: black;
	text-decoration-line: underline;
	text-decoration-thickness: 3px;
}

.logoutButton {
	background-color: transparent;
	border: none;
	background: none;
	padding: 11px;
}

.logoutButton:hover {
	text-decoration: underline;
	color: black;
	text-decoration-line: underline;
	text-decoration-thickness: 3px;
}

/* HOME PAGE MAIN CONTENT | HOME PAGE MAIN CONTENT | HOME PAGE MAIN CONTENT */
.homePageSection {
	color: rgb(34, 34, 34);
	font-family: "Courier New", Courier, monospace;
	height: 345px;
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 0px;
}

.homePageRubricRowOne {
	font-family: "Superior title", "Times New Roman", sans-serif;
	line-height: 15px;
	margin-bottom: 16px;
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 100px;
	text-align: left;
}

.homePageRubricRowTwo {
	font-family: "Superior title", "Times New Roman", sans-serif;
	font-size: 40px;
	margin-block-end: 16px;
	margin-left: 50px;
	margin-right: 0px;
	text-align: left;
}

.homePageParagraphOne {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: rgb(34, 34, 34);
	display: block;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	font-weight: 400;
	height: 70px;
	letter-spacing: -0.23999999463558197px;
	line-height: 24px;
	margin-top: 16px;
	max-width: 740px;
	margin-left: 50px;
	opacity: 1;
	text-align: left;
	width: 394px;
}

.homePageParagraphTwo {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: rgb(34, 34, 34);
	display: block;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.23999999463558197px;
	max-width: 740px;
	margin-left: 50px;
	opacity: 1;
	text-align: left;
	width: 394px;
}

/* CONTACT PAGE CONTENT CONTACT PAGE CONTENT CONTACT PAGE CONTENT*/
.contactPageSection {
	text-align: center;
	margin-top: -5%;
	font-family: "Courier New", Courier, monospace;
	font-size: 130%;
}

.contactPageFormTitle {
	margin-top: 2%;
	font-size: 140%;
	font-family: "Superior title", "Times New Roman", sans-serif;
}

.contactPageQuestion {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contactPageQuestionsTitle {
	font-family: "Superior title", "Times New Roman", sans-serif;
	text-decoration: underline;
	color: black;
	font-size: 170%;
}

.contactPageQuestionsUL {
	list-style: none;
}

.contactPageQuestionsLI {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.contactPageAnswer {
	margin-top: -2%;
}

.contactPageQuestionParagraph {
	margin-top: -1%;
	margin-bottom: -1%;
}

summary {
	font-size: 1.25rem;
	font-weight: 600;
	background-color: #fff;
	color: #333;
	padding: 0.8rem;
	margin-bottom: 0.8rem;
	outline: none;
	border-radius: 0.25rem;
	text-align: left;
	cursor: pointer;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.faqContent {
	text-align: center;
}

details>summary::after {
	position: absolute;
	content: "+";
	right: 20px;
	top: 30px;
}

details[open]>summary::after {
	position: absolute;
	content: "-";
	right: 20px;
}

details>summary::-webkit-details-marker {
	display: none;
}

details[open] summary~* {
	animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
	0% {
		opacity: 0;
		margin-top: -10px;
	}

	100% {
		opacity: 1;
		margin-top: 0px;
	}
}

/* ABOUT PAGE CONTENT ABOUT PAGE CONTENT ABOUT PAGE CONTENT*/
.aboutPageSection {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12%;
}

.aboutPageHeadOne {
	font-family: "Superior title", "Times New Roman", sans-serif;
	margin-left: auto;
	margin-right: auto;
	color: rgb(0, 0, 0);
	font-size: 40px;
}

.aboutPageDivOne {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	color: black;
	font-family: "Courier New", Courier, monospace;
}

.aboutPageDivTwo {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	color: black;
	font-family: "Courier New", Courier, monospace;
	margin-top: 20px;
}

.aboutPageDivThree {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	color: black;
	font-family: "Courier New", Courier, monospace;
	margin-top: 20px;
}

/*PROJECTS LIST PROJECTS LIST PROJECTS LIST PROJECTS LIST*/
.projectsPageSection {
	background-color: transparent;
}

.projectsPageTitle {
	text-align: center;
	color: black;
	font-family: monospace;
	text-decoration: overline;
	margin-top: -8%;
}

.projectsPageList {
	list-style: none;
	align-items: center;
	text-align: center;
	margin-top: 7%;
}

.projectsPageProject {
	height: 400px;
}

.projectsPageProjectImage {
	width: 300px;
	height: auto;
}

.projectsPageProjectTitle {
	font-family: "Superior title", "Times New Roman", sans-serif;
	color: black;
	font-size: 170%;
}

.projectsPageProjectDescription {
	font-size: 110%;
	color: black;
	font-family: "Courier New", Courier, monospace;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

.projectPageSection {
	display: grid;
	place-items: center;
	align-content: center;
	min-height: 100vh;
}

.projectPageDescription {
	font-size: 110%;
	color: black;
	font-family: "Courier New", Courier, monospace;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

.projectPageTitle {
	font-family: "Superior title", "Times New Roman", sans-serif;
	color: black;
	font-size: 170%;
}

.projectPageImage {
	width: 300px;
	height: auto;
}

.projectPageComments {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.projectPageCommentsUL {
	list-style: none;
}

.projectPageCommentsTitle {
	font-family: "Superior title", "Times New Roman", sans-serif;
	text-decoration: overline;
	color: black;
	font-size: 170%;
}

.projectPageUpdateLink {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ADD COMMENT */
/* ADD QUESTION */
/* ADD PROJECT */
/* ANSWER QUESTION */
/* UPDATE ANSWER */
/* UPDATE COMMENT */
/* UPDATE PROJECT */
/* UPDATE QUESTION */
/* projects sextion */
.standardCenteredSection {
	text-align: center;
	margin-top: 2%;
}

.loginPageSection {
	text-align: center;
	margin-top: 2%;
}

.loginPageHeadOne {
	text-align: center;
}

.loggedInStatus {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
}

.standardRubric {
	font-family: "Superior title", "Times New Roman", sans-serif;
	text-align: center;
}

.manageCommentsSection {
	text-align: center;
	margin-top: 20%;
}

.manageQuestionSection {
	text-align: center;
	margin-top: 20%;
}

.errorMessagesSection {
	text-align: center;
	margin-top: 16%;
}

.errorMessageTitle {
	font-family: "Superior title", "Times New Roman", sans-serif;
	font-size: 150%;
	text-decoration: underline;
}

.SearchResultsPageQuestion {
	margin-top: -1.5%;
}
.SearchResultsPageAnswer {
	margin-top: -1.5%;
	margin-bottom: 3%;
}

#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
}
@media screen and (max-width: 1000px) {
	.SearchResultsPageQuestion {
		margin-top: -3%;
	}

	.SearchResultsPageAnswer {
		margin-top: -3%;
		margin-bottom: 6%;
	}
}
@media screen and (max-width: 590px) {
	.homePageSection {
		font-family: "Courier New", Courier, monospace;
		height: 345px;
		margin-left: auto;
		margin-right: auto;
	}

	.homePageRubricRowOne {
		color: #333;
		margin-left: auto;
		margin-right: auto;
		max-width: 200px;
		margin-top: 20px;
		line-height: 30px;
	}

	.homePageRubricRowTwo {
		color: #333;
		max-width: 200px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	.homePageParagraphOne {
		color: #333;
		max-width: 200px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
		
	.homePageParagraphTwo {
		color: #333;
		max-width: 200px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
		
	.btn.btn-link {
		padding: 2%;
		font-family: "Courier New", Courier, monospace;
		font-size: 100%;
		color: black;
		padding: 5px;
		text-size-adjust: auto;
	}
	.searchbar{
		width: 100px;
	}
	.contactPageQuestionsLI {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		font-size: 100%;
	}
	
	.contactPageAnswer {
		margin-top: -2%;
	}
	
	.contactPageQuestionParagraph {
		margin-top: -1%;
		margin-bottom: -1%;
		max-width: 400px;
		font-size: 80%;
	}

	.SearchResultsPageQuestion {
		margin-top: -4%;
	}

	.SearchResultsPageAnswer {
		margin-top: -4%;
		margin-bottom: 6%;
	}

	#footer{
		font-size: 80%;
	}
}

@media screen and (max-width: 414px) {
	
	.contactPageQuestionParagraph {
		margin-top: -1%;
		margin-bottom: -1%;
		max-width: 320px;
		font-size: 60%;
	}

	.projectsPageTitle {
		text-align: center;
		color: black;
		font-family: monospace;
		text-decoration: overline;
		margin-top: -8%;
		font-size: 110%;
	}

	.projectsPageSection {
		background-color: transparent;
		font-size: 90%;
	}

	.SearchResultsPageQuestion {
		margin-top: -8%;
	}
	.SearchResultsPageAnswer {
		margin-top: -8%;
		margin-bottom: 12%;
	}
}

/* LAYOUT BACKGROUND 'ANIMATED'*/
.animatedwrapper {
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: -100px;
	z-index: -1;
	width: 100%;
	height: 2000px;
	isolation: isolate;
	/* 
    Add fallback background here
    background: url();
    */
}

@media only screen and (max-width: 600px) {
	.animatedwrapper {
		top: -500px;
	}

	.dot {
		--size: 100px;
	}
}

.dot {
	--size: 700px;
	/* Only show the animated dots for browsers that support the required features */
	display: none;
	position: absolute;
	left: calc(var(--size) / 3 * -1);
	top: calc(var(--size) / 3 * -1);
	width: var(--size);
	height: var(--size);
	mix-blend-mode: soft-light;
	border-radius: var(--size);
	filter: blur(calc(var(--size) / 6));
	animation: dot-animation ease-in-out 20s infinite;
	will-change: transform;
}

@supports (mix-blend-mode: soft-light) and (filter: blur(1px)) {
	.animatedwrapper {
		/* Remove the fallback background image when the features are supported */
		background: none;
	}

	.dot {
		/* Only show the animated dots for browsers that support the required features */
		display: block;
	}
}

.dot--one {
	background: #ed2a24;
}

.dot--two {
	background: #f48937;
	animation-delay: -7s;
}

.dot--three {
	background: #bd3690;
	animation-delay: -14s;
}

@keyframes dot-animation {
	0% {
		transform: translate(0, 0);
	}

	33% {
		transform: translate(calc(var(--size) / 1.5), 0);
	}

	66% {
		transform: translate(0, calc(var(--size) / 1.5));
	}

	100% {
		transform: translate(0, 0);
	}
}